:root{ --color-logo: #2196F3;
    --color-text-logo: #212121;
    --color-banner: #2F303A;
    --color-text-banner: #FFF;
    --color-text: #757575;
    --color-text-footer: rgba(255, 255, 255, 0.60);
    --color-secondary-color: #f5f4fa;
    --color-background: #ECECEC;
    --color-hero: orange;
}
body {background-color: var(--color-background);
    color: limegreen;
    font-family: cursive;}
.main-background {
/*    width: 1600px;*/
    height: 600px;
    background-image: url(../img/fone.jpg);
    background-color: var(--color-banner);}
.button {

    height: 40px;
    font-family: cursive;
    flex-shrink: 0;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 2.5px; /* 187.5% */
    letter-spacing: 0.96px;
}
ul {list-style: none;}
.logo-style {
    text-decoration : none;
    color: var(--color-text-logo);
    font-family: cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.78px;}
.logo-color {color: var(--color-logo);}
.nav-fishnet {
    text-decoration: none;
    font-family: cursive;
    color: var(--color-text-logo);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;}
.nav-fishnet2:hover, .nav-fishnet2:focus {color: var(--color-hero)}
.nav-a2 {
    color: var( --color-logo);
    font-family: cursive;
    font-size: 1.36;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.header-button {
    color: var(--color-logo)
}
.h1-style {
    text-decoration:none;
    color: var(--color-background);
    text-align: center;
    font-family: cursive;
    font-size: 1.36;
    font-weight: 900;
    line-height: 1.36
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.address-fishnet {
    font-family: inherit;}
footer {background-color: var(--color-banner);}
.footer-contacts-style {
    text-decoration: none;
    color: var(--color-text-banner);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71
    letter-spacing: 0.42px;
}
.logo-style-footer {color: var(--color-text-banner)}
.hover-focus:hover, .hover-focus:focus {color: var(--color-hero);}
/* Урок номер 5*/

/*рекомендовано встановлювати типу для всіх елементів*/
/*скидання скидання стандартних стилів різними елементами*/

/** {box-sizing: border-box;}*/

html {box-sizing: border-box;}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/** {outline: 2px solid red;} *//*для обведення границь блоку*/

p, h1, h2, h3, h4, h5, h6, ul {
    margin:5px;} /*скасування відступів між обєктами*/
ul { padding-left:0;
    list-style: none;} /*скасування стандартного оформлення*/
a {text-decoration:none;} /*скасування стандартного оформлення*/
address { font-style: normal;} /*скасування стандартного оформлення*/
/*скидання скиданнz завершено*/

.text {
/*    box-sizing: border-box;*/
    width: 200px;
    height: 200px;
    border: 20px solid teal;
    padding: 20px;
}

.li1 { margin-bottom: 20px;}

.test-button2 {
  display: flex;
    width:200px;
    height:50px;

/*    padding: 20px 40px;*/
    border-radius: 4px;
    border: 2px solid var(--color-text-logo);
    color: var(--color-text-banner);
    background-color: var(--color-logo);
    text-align: center;
    justify-content:center;
    align-items: center;
}
.test-button2:hover, .test-button2:focus {
    color: var(--color-logo);
    background-color: var(--color-text-banner);
}

.main-button2 {
    display:inline-block;
    width: 200px;
    height: 50px;
    /*    padding: 10px;*/
    color: var(--color-text-banner);
    background-color: var(--color-logo);
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 3;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px var(--color-box-shadow);

}
.main-button2-icon {
    display:inline-block;
    width: 20px;
    height: 20px;
    background: var(--color-hero);
    margin-right: 5px;
    vertical-align: middle;
}

.button2-style {
    width: 200px;
    margin-right:auto;
    margin-left:auto;
}











