/*для силок*/
/*.test-link {color: limegreen;}*/
/*.test-link:hover {color: aqua}*/
/*.test-link:focus {color: magenta}*/
/*.test-link:activ {color: brown}*/
/*.test-link:focus {color: rgb(255,255,0,0.5)}*/

/*для тексту*/
/*body {color: #2a2a2a;*/
/*font-family: cursive;*/
/*font-size: 14px;*/
/*font-style: normal;*/
/*font-weight: 400;*/
/*line-height: 24px; *//* 171.429% */
/*letter-spacing: 0.42px;}*/

/*ul {list-style: none}*/

.page { background-color: #ffffff;
    color: rgb(0,0,0,0.8)
}

.logo { color: #000000 }

.reset { list-style: none }

/*варіант один*/
/*.site-nav a { color: #18a0fb }*/
/*.site-nav a:hover, a:focus  { color: #000000 }*/
/*варіант два*/

 .site-nav .list {color: #18a0fb}
.site-nav .linc:hover, .linc:focus {color: #000000}

.section-titel {color: #18a0fb}
