

   /*  "* - стиль для всфєї сторінки (Універсальний)"
    *{color: blue;} */

  /*  "стиль по id, на сторінці не може бути двох однакових id (id)"
    #id1 {color: blue;}*/

   /* "стиль для  обгорнутого у тег (Теговий)"
    footer {color: blue;}*/

   /* "стиль для класу присвоєному тегу рекомендовано
     один клас використовувати для одного виду оформлення (Класовий)"
    .titel4 {color: blue;}
    .titel5 {color: brown;} */


