

   /*  "* - стиль для всфєї сторінки (Універсальний)"
    *{color: blue;} */

  /*  "стиль по id, на сторінці не може бути двох однакових id (id)"
    #id1 {color: blue;}*/

   /* "стиль для  обгорнутого у тег (Теговий)"
    footer {color: blue;}*/

   /* "стиль для класу присвоєному тегу рекомендовано
     один клас використовувати для одного виду оформлення (Класовий)"
     щоб примінити два класи вони в тегу записуються через пробіл
     <body class="клас клас1">
     hover - для зміни кольору при наведені
     focus - для зміни кольору при табуляції
     active - при натисканні, активації

    .titel4 {color: blue;}
    .titel5 {color: brown;}
    .titel:hover {color: red;}
    .titel:focus {color: red;}
    .titel:active {color: red;}*/

/* "стиль для атрибута, або артибут із якимось значення
     якщо яртибут використовується стиль застосовується (Атрибутовий)"
    /*[class ]{color: blue;}*/
    /* [id="id1" ]{color: blue;}*/

  /* ul  p {color: blue;} - код стилю для наслідника всім потомка головного тега присвоюється стиль
        тобто якщо  головний "body" тоді всім "p" в "body" приміниться стиль  */

   /* li > p {color: blue;} - код стилю для дитини тільки якщо
        "р" являється наслідником "li" теги понеобхідноств*/

      /*  .test + li > p {color: blue;}  стиль для сосіда  */



.titel:active {color: red;}

